body {
	margin: 0; /* Elimina los márgenes predeterminados del body */
    display: flex;
    flex-direction: column;
	background: repeating-linear-gradient(
        to bottom,
        #d40000, /* Rojo */
        #d40000 80px, /* Rojo a la mitad de la ventana */
        black 80vh, /* Rojo a la mitad de la altura de la ventana */
        #d40000 100vh /* Negro completo al final de la ventana */
    );
	color: white;
	font-family: "Alatsi", sans-serif;
}

/*Header*/
header {
	background-color: rgba(212, 0, 0, 0.8); /* Fondo rojo con transparencia */
	padding: 20px;
	position: fixed; /* Fija el header en la parte superior */
	top: 0; /* Posición superior a 0 */
	left: 0; /* Posición izquierda a 0 */
	width: 100%; /* Ocupa todo el ancho de la página */
	z-index: 1000; /* Asegura que el header esté sobre otros elementos */
}

header nav {
    display: flex;
    justify-content: center;
}

header nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: "Alatsi", sans-serif;
    font-size: 2em;
    margin-left: 0.7em;
    margin-right: 0.7em;
    /* Aplica un contorno con -webkit-text-stroke */
    -webkit-text-stroke: 0.3px black;
    transition: opacity 0.3s, transform 0.3s; /* Transiciones suaves */
}

header nav a img{
    transform: scale(1.2);
    transition: opacity 0.3s, transform 0.3s; /* Transiciones suaves */
}

header nav a:hover,  header nav a img:hover{
	transform: scale(1.3);
}

/*Footer*/

footer {
	background-color: #d40000;
	padding: 40px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

footer div {
	display: flex;
	align-items: center;
}

footer a {
	color: white;
	text-decoration: none;
	margin: 0 15px;
	transition: opacity 0.3s, transform 0.3s; /* Transiciones suaves */
}
footer a:hover {
	transform: scale(1.3);
}


footer img {
	margin: 0 10px;
    transition: opacity 0.3s, transform 0.3s; /* Transiciones suaves */
}

footer img:hover {
	transform: scale(1.2);
}

/* Estilo para las imágenes y el logo */
header img {
	width: 100px;
	height: auto;
}

footer img {
	width: 30px;
	height: 30px;
}

footer a img {
	vertical-align: middle;
}

/* Estilos específicos de la página */
article {
	margin-bottom: 40px;
}

#informacionF a {
	display: inline-block;
	margin-right: 20px;
}

#informacionF a img {
	vertical-align: middle;
}

/* Barritas del footer */
.spacerFooter {
	align-self: center;
	height: 96px;
	width: 4px;
}

/* Estilos para controlar el scroll */
html {
    overflow: -moz-scrollbars-none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Edge */
}

html::-webkit-scrollbar {
    display: none; /* Chrome, Safari, y Opera */
}

body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, y Opera */
}
