#Articulo1 {
	/* centrar la imagen */
	display: flex;
	margin-left: auto;
	margin-top: 50px;
    margin-bottom: 50px;
	margin-right: auto;
	/* Hacer que ocupe el 100% del ancho */
	flex-direction: row;
	align-items: center;
	width: 100%;
	justify-content: center;
}

#Articulo1 > img {
	/* centrar la imagen */
	display: block;
	margin-left: 20%;
	margin-right: auto;
	/* Poner una sombra al rededor de la imagen */
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
	/* Hacer que ocupe el 100% del ancho */
	width: 20%;
	transition: opacity 0.3s, transform 0.3s; /* Transiciones suaves */
}

#Articulo1 > img:hover {
	/* Ampliar la imagen al pasar el ratón por encima */
	transform: scale(1.1);
}

#Articulo1 > div {
	display: flex;
	margin-right: auto;
	margin-left: auto;
	flex-direction: column;
	align-items: center;
}

#Articulo1 > div > h2 {
	text-align: center;
	color: white;
	margin-bottom: 10px; /* Espacio entre el H2 y los íconos */
}

#foto_index {
	/* centrar la imagen */
	display: block;
	margin-left: auto;
	margin-right: auto;
	/* Hacer que ocupe el 100% del ancho */
	width: 100%;
}

#FWDIconos {
	display: flex;
	justify-content: center; /* Centra los íconos horizontalmente */
	gap: 30px; /* Espacio entre los íconos */
	margin-top: 10px; /* Espacio adicional entre el H2 y los íconos */
}

#FWDIconos a img {
	/* Reducir el tamaño de las imágenes */
	width: 3em;
    height: 3em;
	transition: opacity 0.3s, transform 0.3s; /* Transiciones suaves */
}

#FWDIconos a img:hover {
	/* Aumentar el tamaño de los íconos al pasar el ratón por encima */
	transform: scale(1.1);
}